:root {
  --main-color: #9da4bd;
  --accent-color: #ff6c00;
  --white-color: #fff;
  --title-color: #303030;
  --min-title: rgba(157, 164, 189, 0.6);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  font: inherit;
  padding: 0;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--main-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.min-title {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 20px;
}

.section {
  padding: 120px 0;
}

.button {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;
  color: var(--white-color);
  padding: 12px 0;
  min-width: 160px;
}

/* header */

.header {
  padding-top: 32px;
}

.header-wrappper {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 130px;
}

.header-menu {
  display: flex;
}

.header-menu-item:not(:last-child) {
  margin-right: 30px;
}

.header-contact {
  margin-left: auto;
}

.header-tel {
  margin-right: 40px;
}

.menu-link {
  padding-top: 50px;
  padding-bottom: 10px;
}

/* about */

.about {
  padding: 120px 0;
  background-color: #303030;
}

.about-title {
  margin-bottom: 20px;
}

.about-list {
  display: flex;
  margin-right: 30px;
}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-wrapper {
  display: flex;
}

.about-text {
  margin-bottom: 20px;
}

.about-img {
  outline: 1px solid red;
}

.about-content {
  max-width: 470px;
}

header {
  background-color: #000000;
}

.hero {
  padding-top: 184px;
  padding-bottom: 208px;
}

.hero-min-title {
  margin-bottom: 20px;
}

.hero-title {
  margin-bottom: 20px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--white-color);
}

.menu-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  color: var(--white-color);
}

.menu-link:hover,
.menu-link:focus,
.header-button:hover,
.header-button:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-tel {
  text-transform: uppercase;
}

.header-button {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-min-title {
  color: rgba(157, 164, 189, 0.6);
}

.hero {
  background-color: #000000;
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--white-color);
}

.hero-descr {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
}

.about-min-title {
  color: var(--min-title);
}

.price-inner {
  display: flex;
}

.price-list {
  max-width: 570px;
  width: 100%;
}

.price-list-item {
  display: flex;
  align-items: baseline;
}

.price-list-line {
  background-color: rgba(157, 164, 189, 0.12);
  height: 1px;
  flex-grow: 1;
  margin: 0 12px;
}

.price-service,
.price-sum {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
}

.price-title {
  color: var(--title-color);
  margin-bottom: 44px;
}

.price-inner {
  margin-bottom: 44px;
}

.price-list {
  padding: 30px 21px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.price-list-dark {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-list-item:not(:last-child) {
  margin-bottom: 20px;
}

/* advantages */

.advantages-title {
  margin-bottom: 20px;
}

.advantages-list {
  display: flex;
  max-width: 370px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.advantages-list-item {
  padding: 20px 24px;
  background-color: #f7f7f7;
  width: 170px;
  height: 133px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.advantages-list-item:nth-child(2) {
  margin: 30px 0;
  margin-left: 30px;
}

.advantages-list-item:nth-child(3) {
  margin-top: -30px;
}

.advantages-list-item:nth-child(4) {
  margin-left: 30px;
}

.advantages-list-sum {
  display: block;
  margin-bottom: 6px;
}

/* патерн для приховання елментів .visually-hidden */
